.toolbar{
    width: 100%;
    position: fixed;
    background: #521759;
    height: 56px;
    top: 0;
    left: 0;
}
.toolbar_nav{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
.toolbar_nav_items a{
    color: white;
    text-decoration: none;
}
.toolbar_nav_items a:hover,
.toolbar_nav_items a:active{
    color: #fa923f;
}
.toolbar_nav_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_nav_items li{
    padding: 0 0.5rem;
}
.space{
    flex: 1;
}
.toolbar_logo{
    margin-left: 1rem;
}
.toolbar_logo img{
    
    width: 50px;
    height: 38px;
}
@media (max-width:768px){
    .toolbar_nav_items{
        display: none;
    }
}
@media (min-width:769px){
    .toolbar_toggle_btn{
        display: none;
    }
}