.btn:disabled{
    padding: 10px 20x;
    font-size: 20px;
   background-color: red; 
   color:white;
   border-radius: 10px;
   

}
.btn:enabled{
    padding: 10px 20x;
    font-size: 20px;
    background-color:blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}
.input{
    font-size: 20px;
    padding-left: 20px;
    text-align: center;
}
.input_type{
    font-size: 20px;
    color: #085af1;
}
.form{
    text-align: center;
    display: block;
}